.MainNavbar{
    /* border: #b8860b 2px solid; */
    margin-left: 10%;

    .configadmin a{
        color: #b8860b;
    }
    
    .configadmin a:hover{
        color: #fff;
    }

    .navbar{
        padding-top: 1%;
        padding-right: 10%;
    }

    .servicios{
        margin-left: 2%;
    }
    
    ul{
        padding: 0;
        list-style-type: none;
        border-radius: 10% ;
        background-color: transparent;
        margin-top: 0;
    }
    
    ul li{
        display: inline-block;
        position: relative;
        line-height: 20px;
        width: 120px;
        text-align: left;
    }
    
    ul li ul li{
        border-bottom: 1 px solid white;
    }
    
    ul li a{
        display: block;
        padding: 8px 8px;
        color: #b8860b;
        text-decoration: none;
    }
    
    ul li a:hover{
        color: white;
        background-color: #b8860b;
    }
    
    ul li ul.name{
        min-width: 100%;
        background-color: black;
        color: white;
        display: none;
        position: absolute;
        z-index: 999;
        left: 0;
    }
    
    ul li ul li ul.topic{
        display: none;
    }
    
    ul li ul li:hover ul.topic{
        display: block;
        left: 100%;
        top: 0%;
        background-color: black;
        position: absolute;
        width: 100%;
    }
    
    ul li:hover ul.name{
        display: block;
    }
    
    ul li ul.name li{
        display: block;
    }
}
